# Substitua 'usuario', 'senha' e 'nome_do_banco' pelas suas credenciais locais
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/db_teste"
# ==========================================
# SEGURANÇA (JWT)
# ==========================================
JWT_SECRET="exemplo_de_chave_secreta_para_desenvolvimento"